<section class="education container__main" cdkDrag>
  <div class="container__header title__header" cdkDragHandle>Education</div>
  <div class="education__content">
    <div class="education__element">
      <img class="education__logo" src="/assets/sdu.png" width="135" height="42" />
      <div class="education__description">
        <span>University of Southern Denmark</span>
        <span><b>Diplomingeniør - Bachelor of Engineering (BEng)</b></span>
        <span>2016 - 2019</span>
      </div>
    </div>
  </div>
</section>
