@import '../../shared/styles/index.scss';

.project-description {
  display: flex;
  margin-bottom: 20px;

  @include respond-to('lg') {
    flex-direction: column !important;
  }

  &__right-position {
    flex-direction: row-reverse;
  }

  &__spacer {
    width: 15px;

    @include respond-to('lg') {
      height: 20px;
    }
  }

  &__image-container {
    flex: 0.3;
  }

  &__image-center {
    display: flex;
    justify-content: center;
  }

  &__image {
    image-rendering: pixelated;
    filter: grayscale(1);
    max-width: 400px;
    transition: all 0.1s ease-in-out;

    &:hover {
      image-rendering: auto;
      filter: none;
    }

    @include respond-to('md') {
      max-width: 90%;
    }
  }

  &__description {
    flex: 0.7;
    padding: 10px 15px;
  }
}
