<div class="contact">
  <div class="contact__text container__main">
    <div class="title contact__title">Contact me!</div>
    <div>
      <p>Are you a recruiter? A fellow developer? Or maybe just someone interested in my work?</p>
      <p>Feel free to contact me anytime!</p>
      <p>
        The best way to get a hold of me is either via
        <a class="about__text link" [href]="linkedIn">LinkedIn</a> or by sending me an email at
        <i
          ><a class="link" [href]="'mailto:' + email">{{ email }}</a></i
        >.
      </p>
    </div>
  </div>
  <app-map></app-map>
</div>
