@import '../../shared/styles/index.scss';

.avatar {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    color: white;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  &__image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
    filter: grayscale(1);
  }
}
