.container {
  &__main {
    background-color: var(--main-2);
    border: 1px solid var(--main-1);
    box-shadow: inset 1px 1px 0 0 #fff, 0 8px 0 0 rgb(0 0 0 / 20%);

    &--inner {
      border-right: 1px solid var(--main-1);
      box-shadow: 1px 0 0 0 #fff;
    }
  }

  &__inset {
    padding: 11px;
    background-color: var(--main-3);
    box-shadow: inset 0 0 0 5px var(--main-2), inset 6px 6px 0 0 #4e5252;
  }

  &__header {
    height: 25px;
    background-color: var(--accent);
    box-shadow: inset 1px 1px 0 0 #fff, inset 0 0 0 3px #c6cecf;
  }
}
