@import '../../shared/styles/index.scss';

.skills {
  width: 100%;
  position: relative;
  z-index: 30;

  &__content {
    padding: 10px;
  }

  &__skill {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
  }

  &__progress-container {
    height: 20px;
  }

  &__progress {
    background-color: var(--accent);
    height: calc(100% - 1px);
    margin-top: 1px;
    margin-left: 1px;
  }

  &__progress-text {
    color: var(--main-3);
    padding-left: 3px;
    padding-top: 3px;
    font-weight: 400;
  }
}
