@import '../../shared/styles/index.scss';

.about {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  flex: 1;

  @include respond-to('md') {
    text-align: center;
  }

  .link {
    margin-left: 5px;
  }

  &__title-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @include respond-to('md') {
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__social-media {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__button-row {
    display: flex;

    @include respond-to('md') {
      flex-direction: column;
    }

    a {
      flex: 1;
      margin: 0 5px;

      @include respond-to('md') {
        margin: 5px 0;
        line-height: 40px;
      }
    }
  }
}
