<section class="about container__main">
  <div class="about__title-section">
    <!-- Title -->
    <div class="about__title">
      <span class="title__flavor">About</span>
      <span class="title title--large">Anders Kirsby Thygesen</span>
    </div>

    <!-- SoMe -->
    <div class="about__social-media">
      <a class="about__text link" [href]="linkedIn">{{ linkedIn }}</a>
      <a class="about__text link" [href]="gitHub">{{ gitHub }}</a>
    </div>
  </div>
  <span class="about__text"
    ><b>EMAIL:</b> <a class="link" [href]="'mailto:' + email">{{ email }}</a></span
  >
  <div>
    <p>
      I crave challenge and I do not fear change. New perspectives are always welcome. As Astrid Lindgren's character
      Pippi Longstocking says: “I have never tried that before, so I think I should definitely be able to do that.”
    </p>
    <p>
      I'm creative, focused and I like to get things done. At the same time, I want to bring truly positive change to
      the industries that I work in. Working with a team of dedicated, diverse and talented individuals brings me joy
      and motivation.
    </p>
    <p>
      I'm a skilled developer with experience in a lot of different technologies, but I am also very interested in the
      business side of things. This gives me an eagle eye perspective of the product journey, which helps me take more
      than just specialist requirements into consideration, when working on a project.
    </p>
  </div>
</section>
