@import '../shared/styles/index.scss';

.home {
  &__row {
    display: flex;
    margin-bottom: 20px;
  }

  &__column {
    &:first-child {
      margin-right: 15px;
    }
  }

  &__full-width {
    display: flex;
    flex: 1;
  }
}
